*.pyo
*.pyc
*.sublime-project
*.sublime-workspace
.hidden
.directory
.gitold
.sublime-backup
obsolete
research
docs/specs.md
docs/todo.md
docs/description.html
tools/test.py
sticky_searches/forms
sticky-searches-*.zip
